streamlit
pandas
numpy>=1.25.0
scipy>=1.10.0
matplotlib
seaborn
geopandas
shapely
plotly
scikit-learn==1.3.1
xgboost==1.6.2
imbalanced-learn
gdown
google-cloud-storage
pyproj
fiona
fastparquet
setuptools
